@import '../../define.scss';

.mapview-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;

  position: relative;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-app {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  transition: margin-right 0.3s ease;

  &.shifted {
    margin-right: 356px;
  }
}

.main-app-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
  border-radius: $border-radius;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.popper-tooltip {
  position: absolute;
  width: max-content;
  left: 0px;
  top: 0px;
  z-index: 10;
  background: white;
  color: white;
  box-shadow: 0 0 1px hsla(0, 0%, 0%, 0.6), 0 0 3px hsla(0, 0%, 0%, 0.05);
  padding: 2px 6px 4px 6px;
  border-radius: 4px;
  font-size: $font-d2;

  display: flex;
  justify-content: center;
  box-sizing: border-box;
  pointer-events: none;
  text-align: center;

  opacity: 1;
  transition: opacity 300ms ease-in, visibility 300ms ease-in;

  &.hidden {
    opacity: 0;
    transition: opacity 150ms ease-out, visibility 150ms ease-out;
  }

  &#popper-tooltip-bottom {
    z-index: 19;
    background: $blue-900;

    .popper-arrow {
      background: $blue-900;
    }
  }

  .popper-content {
    max-width: 450px;
    max-height: 400px;
    line-height: 1.5;
    overflow: hidden;
    display: flex;

    :global(.tooltip-image) {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }

  }

  .popper-arrow {
    position: absolute;
    background: white;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
  }
}

.footer-container {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  pointer-events: none;
}

.search-panel-container {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 19;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 356px;
}

